@font-face {
	font-family: "nanumfont";
	src: url(./assets/fonts/NanumSquare_acR.ttf);

}

:root {
  --font-nanumfont: "nanumfont"
}

body {
  margin: 0;
  font-family: var(--font-nanumfont);
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}